@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Outfit:wght@300;400;500;600;700;800&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

#container{
    padding-left: 8%;
    color: white;
}

#logo img{
    width: 8%;
    margin: auto;
    margin-top: 35px;
    padding-bottom: 2%;
}


h1, h2, h3{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 60px;
}

span{
    font-weight:700;
}

h1{
    font-size: 60px;
    line-height: 45px;
    margin-bottom: 40px;
    
}

#instruction{
   line-height: 10px;
   margin-bottom: 1px;
}

.purple{
    color: #d20094;
    
}

#liste {
    margin-top: 40px;
    padding-left: 25px;
    
}

li {
    line-height: 28px;

}

.stars{

}

#iPromise{
    background-color: #0C113B;
}

label {
    font-size: small;
    font-weight: 500;
}

#footer {
    
    padding-top: 5% ;
    display: inline-block;
}

#btnProceed{
    margin-left: 180px;
    padding: 14px 45px;
    font-size: 80%;
    background-color: #00FFFF ;
    border: transparent;
    box-shadow: #00FFFF 0px 0px 20px;
    cursor: pointer;
}

#quiz {
    text-align: center;
}

#footer1 {
    text-align: center;
}

#answerBox {
    text-align: center;
    display: inline-block;
    width: 70%;
}

#question{

}

#questionNumber{

}

.answers{
    /* visibility: hidden;     */
    display: inline-block;
    padding: 0px;
    width: 35%;
    margin: 2%;
    border-radius: 20px;
    background-color: #2729522e;
}

.input:hover{
    cursor: pointer;
    border: 2px solid #d20094;
}


.answersChecked{
    display: inline-block;
    padding: 10px;
    border: 2px solid #d20094;
    width: 35%;
    margin: 1%;
    border-radius: 20px;
    background-color: #2729522e;
}

#answerButton{
    margin-top: 50px;
    text-align: center;
    
}



#rateButton{

}

#moreInfoBtn{
    
}


input[type="radio"] {
    width: 100%;
    margin: -25px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #2729522e;
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }
  input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
    outline: none; /*to remove the square border on focus*/
  }
  input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
    border: 2px solid #d20094;
  }
  
  label span:first-of-type {
    position: relative;
  }


  label span {
    position: relative;
    top: -12px;
    margin: 0px;
    padding-left: 30px;
    left: -27px;
    font-size: 15px;
    color: white;
    width: 100%;
  }

  label :hover{
    cursor: pointer;
  }

  label span:hover{
    cursor: pointer;
    
  }